<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
    <% include templates/header.ejs %>
  </center>
    <h1><%= title %></h1>
    <p> <%= body %></p>
    <%if (image != ""){%>
    <center>
    <img src=<%=image%> style="width: 50% ;max-height: 50%" />
    </center>
    <%}%>
  <div>
  <%if (download){%>
    <center>
  <a href='/camera/download'><input type="button" value="Download photo" style="text-align: center" /></a>
  <%}%>
    </center>
  </div>
    <p><%= ender %></p>
  </body>
</html>
