<!DOCTYPE html>
<html>
  <head>
    <% include templates/header.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> <%= body %></p>
    <div class="imy">
    <%if (image != ""){%>
      <img src=<%=image%> />
      <p></p>
      <a href='/camera/download'><input type="button" value="Download photo"/></a>
    <%}%>
    </div>

    <p><%= ender %></p>
  </body>
</html>
